extends agenttemp
block content
    h1  Agent Search Dashboard
    img(src='/images/Globe blue on transparent.png') 

    h2 #{msg} #{fname} #{lname}
    
    h2        
     a(href='/suppliercontacts') Complete List of Suppliers

    img(src='/images/Globe blue on transparent.png' width="60px") 


    h2 Search by Customer Email (unique identifier)
     form(action='/agent/search' method='POST')
        div
            input(style='width:30%' type='text' name='CustEmail' id='CustEmail' required='' placeholder='Email' value= CustEmail)
            button.button(type='submit' style='width:30%') SUBMIT 
            br
            a(href='/agent/create/' )
                button.button(type='button' style='width:30%') CREATE NEW CUSTOMER



    img(src='/images/Globe blue on transparent.png' width="60px")

    h2 Find Agent Commission 
     form(action='/agent/commission' method='POST')
        div
            input(style='width:30%' type='text' name='AgentId' id='AgentId' required='' placeholder='AgentId' value= AgentId)
            button.button(type='submit' style='width:30%') SUBMIT   

     