extends agenttemp 
block content
    
      h1="Supplier Company:"
      each suppliercontact in suppliercontacts
        ul 
          ol
            a(href='/suppliercontacts/' + suppliercontact.SupplierContactId style='font-size: 0.3rem%') #{suppliercontact.SupConCompany}
